body{
    overflow-x: hidden;
}
.header {
	  
    z-index: 99999 ;
    width: 100%;
    height: 80px;
    background-color: #232323;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header {
   
    z-index: 99999;
    width: 100%;
    height: 80px;
  
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
    padding: 17px 0px;
}
.background-header .navbar {
    padding: 17px 0px;
}
.background-header {
    top: 0;
    position: fixed;
    background-color: #fff!important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
    color: #121212!important;
}
.background-header .navbar-nav a.nav-link {
    color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #ffa93f!important;
}
.navbar .navbar-brand {
    float: 	left;
    margin-top: -12px;
    outline: none;
    width: 33%;
}
.navbar .navbar-brand h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
    font-style: normal;
    color: #ffa93f;
}
#navbarResponsive {
    z-index: 999;
}
.navbar-collapse {
    text-align: center;
}
.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff !important;
    transition: all 0.5s;
    margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #fff;
    padding-bottom: 9px;
    border-bottom: 3px solid #ffa93f;
}
.navbar .navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler {

    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: white;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}
.navbar-collapse .nav-item active .nav-item{
    color: black;
    background: black;
  }
  ul{
      padding:0 !important;
  }
.lead {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
}

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}

#count-cart{
    padding: 0% 0.5%;
}
.product-list div{
    display: flex;
    justify-content: space-around;
}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    
    margin: 0 auto;
}
.product-title{
    width: 63%;
    display: flex;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    align-items: center;
}
.product-price{
    width: 15%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.total{
    width: 10%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
        align-items: center;
        display:flex;
}
.quantity{
    width: 26%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}

img{
    width: 25%;
    margin-left: 4%;
    margin-bottom: 7%;
}
h5{
    text-align: center;
}
.span{
    margin-left: 6%;
   
}
.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
    font-size: 18px;

}
.basketTotalTitle{
  
    width: 30%;
   
}
.basketTotal{
    width: 10%;
    font-weight: bold;
}
.shop-head{
    margin-top: 3%;
    text-align: center;

   
}

.delete-item , .plus-item , .subtract-item{
    height: 2%;
    border-radius: 21px;
    width: 30px;
}
#show-cart{
    list-style: none;
    margin-top: 6%;
     padding: 0px;

}
.clear-cart{
    float: right;
    margin-right: 4%;
    position: relative;
    display: flex;
    bottom: 47px;
}
@media (max-width:425px) {
    .basketTotalContainer{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 10px 0;
        font-weight: 500;
        font-size: 18px;
    }
    .basketTotalTitle{
      
        width: 30%;
       
    }
    .basketTotal{
        width: 10%;
        font-weight: bold;
    }
    .shop-head{
        margin-top: 3%;
        text-align: center;
        font-size:25px;
    }
    .clear-cart{
        position: relative;
        top: 2px;
        margin-right: 33%;
    }
    .products-container{
        max-width: 650px;
        justify-content: space-around;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        padding: 4%;     
    }
    
    .product-list div{
        display: flex;
        justify-content: space-around;
        font-size: 13px;
    }
    .product-header{
        width: 100%;
        font-size: 13px;
        max-width: 650px;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        
        margin: 0 auto;
    }
    .product-title{
        width: 92%;
        display: flex;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
        align-items: center;
    }
    .product-price{
        width: 23%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
    }
    .total{
        width: 18%;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
            align-items: center;
            display:flex;
    }
    .quantity{
        width: 32%;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
        display: flex;
        align-items: center;
    }
    .delete-item , .plus-item , .subtract-item{
        height: 26px;
    border-radius: 19px;
    width: 24px;
    margin-top: 5%;
    }
    .products-container p{
        margin-top: 5%;
        font-weight: bold;
    }
}
@media (min-width:426px) {
    .shop-head{
        margin-top: 3%;
        text-align: center;
        font-size:25px;
    }
    .clear-cart{
        position: relative;
        top: 2px;
        margin-right: 33%;
    }
    .products-container{
        max-width: 650px;
        justify-content: space-around;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        padding: 4%;     
    }
    
    .product-list div{
        display: flex;
        justify-content: space-around;
        font-size: 18px;
    }
    .product-header{
        width: 100%;
        font-size: 23px;
        max-width: 650px;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        
        margin: 0 auto;
    }
    .product-title{
        width: 95%;
        display: flex;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
        align-items: center;
    }
    .product-price{
        width: 23%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
    }
    .total{
        width: 18%;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
            align-items: center;
            display:flex;
    }
    .quantity{
        width: 32%;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .delete-item , .plus-item , .subtract-item{
        height: 32px;
        border-radius: 49px;
        width: 32px;
        margin-top: 5%;
    }
    
    .products-container p{
        margin-top: 5%;
        font-weight: bold;
    }
    .totals{
        width: 4% !important;
    }
}
@media (max-width:425px) {
    .shop-head{
        margin-top: 3%;
        text-align: center;
        font-size:25px;
    }
    .clear-cart{
        position: relative;
        top: 2px;
        margin-right: 33%;
    }
    .products-container{
        max-width: 650px;
        justify-content: space-around;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        padding: 4%;     
    }
    
    .product-list div{
        display: flex;
        justify-content: space-around;
        font-size: 13px;
    }
    .product-header{
        width: 100%;
        font-size: 13px;
        max-width: 650px;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        
        margin: 0 auto;
    }
    .product-title{
        width: 102%;
        display: flex;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
        align-items: center;
    }
    .product-price{
        width: 23%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
    }
    .total{
        width: 18%;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
            align-items: center;
            display:flex;
    }
    .quantity{
        width: 32%;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
        display: flex;
        align-items: center;
    }
    .delete-item , .plus-item , .subtract-item{
        height: 26px;
    border-radius: 19px;
    width: 24px;
    margin-top: 5%;
    }
    .products-container p{
        margin-top: 5%;
        font-weight: bold;
    }
}
@media (min-width:768px) {
    .shop-head{
        margin-top: 3%;
        text-align: center;
        font-size:25px;
    }
    .clear-cart{
        position: relative;
        top: 2px;
        margin-right: 33%;
    }
    .products-container{
        max-width: 650px;
        justify-content: space-around;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        padding: 4%;     
    }
    
    .product-list div{
        display: flex;
        justify-content: space-around;
        font-size: 18px;
    }
    .product-header{
        width: 100%;
        font-size: 23px;
        max-width: 650px;
        display: flex;
        font-weight: bold;
        justify-content: flex-start;
        
        margin: 0 auto;
    }
    .product-title{
        width: 173%;
        display: flex;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
        align-items: center;
    }
    .product-price{
        width:7%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
    }
    .total{
        width: 18%;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
            align-items: center;
            display:flex;
    }
    .quantity{
        width: 32%;
        margin: 0 auto;
        border-bottom: 4px solid lightgray;
        display: flex;
        align-items: center;
    }
    .delete-item , .plus-item , .subtract-item{
        height: 32px;
        border-radius: 49px;
        width: 32px;
        margin-top: 5%;
    }
    
    .products-container p{
        margin-top: 5%;
        font-weight: bold;
    }
    .totals{
        width: 4% !important;
    }
}

.modal {
    display: none ; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(73, 72, 72, 0.452);
    padding-top: 50px;
  }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* Set a style for all buttons */
button {
   
    font-size: 1rem;
    border-radius: .25rem;
    border-radius: 4px;
    border: 1px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: center;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color:#ffa93f; 
    color: rgb(250, 245, 242);
    padding: 14px 25px;
    margin: 8px 0;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    width: 47%;
}

button:hover {
  opacity:1;
}

  .signinbtn {
    padding: 14px 20px;
    background-color: #f44336; 
    color: rgb(250, 245, 242);
    padding: 14px 25px;
    margin: 8px 0;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    width: 47%;
    text-align: center;
    float: right;
  }
  .cancelbtn, .signinbtn{
      text-decoration: none;

  }

/* The Close Button (x) */
.close {

    position: fixed;
    z-index: 99999;
    left: 94%;
    cursor: pointer;
    right: 130px;
    font-size: 40px;
    font-weight: bold;
    color: #4e4b4b;
    
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container-1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.container-1{
    background: #fff;;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.container-1 form{
    margin-top: -20px
}

form .forgot-pass{
    margin-left: -8px;
}

form .forgot-pass a{
     color: #ffa93f;
     text-decoration: none;
     padding-right: 5px;
}

form .forgot-pass a:hover{
     text-decoration: underline;
}

form .signin-link{
    text-align: center;
} 

form .signin-link a{
    color: #ffa93f;
    text-decoration: none;
}

form .signin-link a:hover{
    text-decoration: underline;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
input[type=text], input[type=password] {
    width: 90%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #fffdfe;
    border: 1px solid #ffa93f;
  }
  input {
      width: 50%;
      height: 25px;
      display: block;
      margin: 15px ;
      text-align:center;
  }
  
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #fffefe;
    outline: none;
  }
  /* Footer Style */

footer {
	background-color: #232323;
	padding: 80px 0px;
	color: #fff;
    text-align: center;
}

footer h4 {
	color: #ffa93f;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.25px;
	margin-bottom: 35px;
}
footer p {
	color: #fff;
}

footer ul.social-icons {
	margin-top: 25px;
}

footer ul.social-icons li {
	display: inline-block;
	margin-right: 5px;
}

footer ul.social-icons li:last-child {
	margin-right: 0px;
}

footer ul.social-icons li a {
	width: 34px;
	height: 34px;
	display: inline-block;
	line-height: 34px;
	text-align: center;
	background-color: #fff;
	color: #232323;
	border-radius: 50%;
	transition: all 0.3s;
}

footer ul.social-icons li a:hover {
	background-color: #ffa93f;
}

footer ul.menu-list li {
	margin-bottom: 13px;
}

footer ul.menu-list li:last-child {
	margin-bottom: 0px;
}
footer ul.menu-list {
    list-style: none;
}
footer ul.menu-list li a {
	font-size: 14px;
	color: #fff;
	transition: all 0.3s;
}

footer ul.menu-list li a:hover {
	color: #ffa93f;
}

footer .contact-form input {
	border-radius: 20px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	padding: 0px 15px;
	color: #aaa!important;
	background-color: #343434;
	font-size: 13px;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 15px;
}

footer .contact-form input:focus {
	outline: none;
	box-shadow: none;
	border: none;
	background-color: #343434;
}

footer .contact-form textarea {
	border-radius: 20px;
	height: 120px;
	max-height: 200px;
	min-height: 120px;
	display: inline-block;
	padding: 15px;
	color: #aaa!important;
	background-color: #343434;
	font-size: 13px;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 15px;
}

footer .contact-form textarea:focus {
	outline: none;
	box-shadow: none;
	border: none;
	background-color: #343434;
}

footer .contact-form ::-webkit-input-placeholder { /* Edge */
  color: #aaa;
}
footer .contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}
footer .contact-form ::placeholder {
  color: #aaa;
}

footer .contact-form button.filled-button {
	background-color: transparent;
	color: #fff;
	background-color: #ffa93f;;
	border: none;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
}

footer .contact-form button.filled-button:hover {
	background-color: #fff;
	color: #ffa93f;
}



/* Sub-footer Style */

.sub-footer {
	background-color: #343434;
	text-align: center;
	padding: 25px 0px;
}

.sub-footer p {
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.sub-footer a {
	color: #fff;
}



