.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
 
}
.products-container ion-icon{
    font-size: 25px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    
    margin: 0 auto;
}
.product-title{
    width: 45%;
    display: flex;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    align-items: center;
}
.product-price{
    width: 15%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.total{
    width: 10%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
        align-items: center;
        display:flex;
}
.quantity{
    width: 30%;
    margin: 0 auto;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}

img{
    width: 25%;
    margin-bottom: 7%;
}
h5{
    text-align: center;
}
.span{
    margin-left: 6%;
   
}
.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
  
    width: 30%;
   
}
.basketTotal{
    width: 10%;
}
